- const portfolioItems = [
-	{title: '<strong>Chat</strong>', descr: 'with auth, mongo db and websockets', link: '//njsvasin.pro/chat-express-4'},
-	{title: 'This <span>Portfolio</span>', descr: 'is made on NodeJS, Koa, pug, stylus, Webpack<br /> with Server Side Rendering', nolink: true},
-	{title: 'Credit-<span>calc</span>', descr: ' Lily likes to play with crayons and pencils', link: '//njsvasin.pro/credit-calc'},
-	{title: 'Bang <span>Bang</span>', descr: ' Lily likes to play with crayons and pencils', link: '//njsvasin.pro/'},
-	{title: 'Funny <span>Tortoise</span>', descr: ' Lily likes to play with crayons and pencils', link: '//njsvasin.pro/'},
-	{title: 'Don\'t <span>Poke</span>', descr: ' Lily likes to play with crayons and pencils', link: '//njsvasin.pro/'},
- ];

section#works.screen-block
	.grid.grid--container
		.row
			.col.col--sm-6.col--sm-offset-3
				.screen-block__header.wow.fadeInUp
					h2.screen-block__title My works
					.screen-block__line
					.screen-block__subtitle
						| No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

		.row
			each val, i in portfolioItems
				.col.col--xs-12.col--sm-4.col--md-4
					.hover-animation.wow.zoomIn
						figure.hover-animation__wrapper(class={special: i === 2})
							mixin innerBlock
								img.hover-animation__image(src=`/images/static/item-${i + 1}.jpg` alt=`img0${i}`)
								figcaption.hover-animation__text-block
									h2.hover-animation__title!= val.title
									p.hover-animation__caption!= val.descr

							if !val.nolink
								a(href=`${val.link}` target="_blank")
									+innerBlock
							else
								+innerBlock
